@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matt's Trash Collecting LLC</h1>
    <p class="lead">Picking Up Trash the Best!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">

</div>